<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/task.css">
    <title>login</title>
</head>
<body class="login-body">
    <div class="loginbox">
         <a href="/"><img class="backarrow" src="/img/back.png"></a>
         <h3 class="loginhead">Login</h3>
        <form action="/login" method="post" class="login-form">
            <input placeholder="Email" name="email" class="loginname">
            <input placeholder="Password" name="password" class="loginpassword" type="password">
            <button type="submit" class="login-btn">login</button>
        </form>
    </div>
    
</body>
</html>