<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/task.css">
    <title>signup</title>
</head>
<body class="signup-body">
    <div class="signupbox">
        <a href="/"><img class="backarrow" src="/img/back.png"></a>
        <h3 class="signuphead">Signup</h3>
        <form action="/signup" method="post" class="signup-form">
            <input placeholder="First name" name="fname" class="signupfname">
            <input placeholder="Last name" name="lname" class="signuplname">
            <input placeholder="Email" name="email" class="signupemail ">
            <input placeholder="Password" name="password"class="signuppassword" type="password">
            <button type="submit" class="signup-btn">signup</button>
           </form>
    </div>
</body>
</html>